/* General Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	background: url('assets/images/sign_in_background.svg') no-repeat center top;
	background-size: cover; /* Makes the background image cover the entire container */
  	background-attachment: fixed; /* Makes the background static (doesn't scroll with content) */
	background-position: absolute;
  	min-height: 100vh; /* Ensures the background covers the full viewport height */
  	margin: 0; /* Removes default margin to ensure the background fills the page */
	font-family: 'Montserrat', sans-serif;
}

.app-container {
	width: 100%;
	text-align: center;
	padding-top: 15%;
  }
  
  .content-container {
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
  }
  
  .add-recipe-btn {
	background-color: #28a745;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 20px;
	border-radius: 5px;
  }